@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
body{
    margin:0;    
}
#nav-bar{
    position: fixed;
    border:5px none none solid none white;
}
.nav-link{
    position: relative;
    display: inline;
    color:white;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}
a{
    text-decoration: none;
}
.header-img{
margin-left: 70px;
}
.header-name{
margin-left: 10px;
bottom: 25px;
}
.first-link{
    left:540px;
    bottom: 25px;
}
.second-link{
    left:560px;
    bottom: 25px;
}
.third-link{
    left:580px;
    bottom: 25px;
}
.fourth-link{
    left:600px;
    bottom: 25px;
}
.first-link:hover,.second-link:hover,.third-link:hover,.fourth-link:hover{
    background-color: white;
    color: #35743D;
    transition: ease-in-out 80ms;
}

/*******************************************************Main Div******************************************************/
#first-container{
position: relative;
}
.background-one{
    position: absolute;
    width: 100%;
    z-index: -5;
}
.Coffe-cup-img{
    position: absolute;
    margin-top: 190px;
    width: 65%;
    left:-100px;
    transform: rotate(8deg);
}
.heading-city{
    position: absolute;
    font-family: 'Style Script', cursive;
    font-size: 80px;
    right:220px;
    top:180px;
    color:white;
}
.social-media{
    position: absolute;
    right:10px;
    top:400px;
}
.fab{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

/********************************************2nd Division****************************************************************/
